#hero-section {
    margin-bottom: 0;

    .hero-items {
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.welcome {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: white;
    opacity: 85%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-style: dashed;
    border-width: 0.4rem;
    border-block-start-color: darkred;
    padding: 4rem;
    position: relative;
    top: 8rem;
    right: 14rem;

    h1 {
        text-shadow: 3px 3px 2px darkgray;
    }

    p {
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px darkgray;
    }
}


.logo {
    width: 60%;
    margin-left: 1.5rem;

    img {
        border-radius: 50%;
        background-color: white;
        overflow: hidden;
        width: 75%;
    }
}
