body {
    background: 
        linear-gradient(180deg, rgba(51, 0, 25, 0.9), rgba(255, 0, 255, 0.1)),
        url(../img/background/html-code_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

    header nav div:first-child {
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4em;
    }

    h1, h2, h3, h4 {
        font-family: 'Glegoo', serif;
        font-weight: 900;
    }

    h2, h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.75em;
        letter-spacing: 1.5px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

main {
    position: relative;
}

.contain {
    max-width: 1200px;
    margin: 0 auto;
}

.myrow {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mywrapper {
    max-width: 1200px;
}

#navigation {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1.0), rgba(44, 44, 44, 0));
        padding-bottom: 50px;
        z-index: 2;
    }

    .navbar-expand-lg {
        justify-content: center;
    }

    .navbar-brand {
        color: white;
        font-weight: 900;
        font-family: 'Grandiflora One', cursive;
    }

    .nav-link {
        color: white;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar-nav .nav-link.hover,
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #868686;
    }

    .navbar-text {
        color: white;
        font-weight: 800;
        font-family: 'Grandiflora One', cursive;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

#contact-section {
    background-color: #967969; /* mocha */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    img {
        width: 50px;
        height: 50px;
    }

    img:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.3s;
    }
}


footer {
    background-color: transparent;
    opacity: 50%;
    width: 100%;
    height: 125px;
    clip-path: ellipse(55% 100% at 50% 100%);
    margin-top: -8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    
    a {
        text-decoration: none;
    }

    img {
        width: 40px;
        height: auto;
    }
}

.trademark {
    display: block;
    color: black;
}
