body {
    background: 
        linear-gradient(180deg, rgba(51, 0, 25, 0.9), rgba(255, 0, 255, 0.1)),
        url(../img/background/html-code_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

    header nav div:first-child {
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4em;
    }

    h1, h2, h3, h4 {
        font-family: 'Glegoo', serif;
        font-weight: 900;
    }

    h2, h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.75em;
        letter-spacing: 1.5px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

main {
    position: relative;
}

.contain {
    max-width: 1200px;
    margin: 0 auto;
}

.myrow {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mywrapper {
    max-width: 1200px;
}

#navigation {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1.0), rgba(44, 44, 44, 0));
        padding-bottom: 75px;
        z-index: 2;
    }

    .navbar-expand-lg {
        justify-content: center;
    }

    .navbar-brand {
        color: white;
        font-weight: 900;
        font-family: 'Grandiflora One', cursive;
    }

    .nav-link {
        color: white;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .navbar-nav .nav-link.hover,
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #868686;
    }

    .nav-item {
        letter-spacing: 1.75px;

        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }

    .nav-item:hover,
    .nav-item:focus {
        text-decoration: underline 5px;
        text-underline-offset: 8px;
        text-transform: uppercase;
        color: white;
        transition: ease 0.4s;
        outline: none;
    }

    .navbar-text {
        color: white;
        font-size: 2em;
        font-weight: 900;
        font-family: 'Grandiflora One', cursive;
        letter-spacing: 2px;

        @media screen and (max-width: 991px) {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 0.6rem;
            right: 0%;
            left: auto;
            font-size: 1.5em;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .container-fluid {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .logo-icon {
        border-radius: 50%;
    }
}

footer {
    background-color: #fef2ee;
    width: 100%;
    height: 350px;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        font-size: 1.25em;
        align-self: center;
        margin-left: 2rem;
    }

    img {
        width: 40px;
        height: auto;
    }
}

.footer-container {
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: -3rem;
}

.footer-left {
    width: 40%;
    margin-bottom: 1.25rem;

    .logo {
        width: 40%;
        margin-left: 0;
    }
}

.social {
    margin-bottom: 1rem;
    display: flex;
    column-gap: 1.5rem;
    
    a {
        text-decoration: none;
    }

    img:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.3s;
    }
}

.trademark {
    max-width: fit-content;
    color: black;
}

.education {
    width: 60%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    div {
        max-width: fit-content;
        flex-flow: column;
        row-gap: 0.75rem;
    }

    ul li + li:not(:first-child) {
        margin-left: 4.5rem;
    }

    img {
        margin-top: 1rem;
    }
}
