#projects-section {
    background-color: rgb(254, 242, 238, 0.1);
    backdrop-filter: blur(45px);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.project-cards {
    margin-top: 12rem;
    margin-bottom: 12rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    gap: 4rem;
    align-items: center;
    outline: 0.4rem solid lightgray;
    outline-offset: 2rem;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background: white;
    padding: 3rem;
    margin-right: 4rem;
    margin-bottom: 12rem;
    margin-left: 4rem;

    div.project-snippet {
       width: 50%; 
    }

    video {
        max-width: 100%;
        max-height: 300px;
        box-shadow: 4px 4px 10px black;
    }

    div.project-info {
        width: 50%;
    }

    h3 {
        margin-top: 0;
        display: inline;
        line-height: 2.75rem;
        text-shadow: 1px 1px 2px darkgray;
    }

    p {
        display: inline;
        font-size: 1.5em;
        line-height: 2.75rem;
        text-shadow: 1px 1px 1px darkgray;
    }
}

.project-snippet {
    max-width: 100%;

}
