#skills-section {
    background-color: #fef2ee;
    display: flex;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 8rem;`

    h2 {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    svg {
        width: 75px;
        height: auto;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
    
    p {
        display: block;
        width: 100%;
        text-align: center;
        text-shadow: 2px 2px 2px rgb(0 0 0 / 0.4);
    }
}

.skills-grid {
    display: flex;
    gap: 12rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;

    div {
        width: 25%;
        height: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


.skills-container {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: auto;
    font-size: 0.8125rem;
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
    background-color: transparent;
}

.skills-value {
    display: inline-block;
    position: relative;
    text-overflow: clip;
    animation: 60s linear 0s infinite alternate tech-scroll;
}

.skills-value:hover {
    animation-play-state: paused;
}

@keyframes tech-scroll {
    from {
        /* pushes the sun down past the viewport */
        transform: translate(0);
    }

    to {
        /* returns the sun to its default position */
        transform: translate(-100%);
    }
}
