body {

  background-color: #FFFDF9;
  /* margin around page area */
  /* applies to small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    & main {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .container-fluid {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    & main {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .container-fluid {
      margin-left: 2.2rem;
      margin-right: 2.2rem;
    }
  }

  & h2, h3, h4 {
    font-family: 'Glegoo', serif;
    font-weight: 900;
  }
  
  & h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  & p, li {
    letter-spacing: 1.5px;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
  }
}

section {
  margin-bottom: 2rem;
}

#navigation {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1.0), rgba(44, 44, 44, 0));
    padding-bottom: 50px;
    z-index: 2;
  }
  
  .navbar-brand {
    color: white;
    font-weight: 900;
    font-family: 'Grandiflora One', cursive;
  }
  
  .nav-link {
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-nav .nav-link.hover,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
      color: #868686;
  }
  
  .navbar-text {
    color: white;
    font-weight: 800;
    font-family: 'Grandiflora One', cursive;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

#hero-section {
  .hero {
    background: 
    linear-gradient(180deg, rgba(72, 60, 50, 1), rgba(187, 169, 154, 0.3)),
    url(img/background/html-code_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .profile-image {
      border-radius: 50%;
      background-color: white;
      height: 200px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-top: 7em;
      margin-left: auto;
      margin-right: auto;
    }
    
    & img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    & h1 {
      font-family: 'Grandiflora One', cursive;
      font-weight: 900;
      font-size: 7rem;
      color: white;
      text-shadow: 3px 3px 2px black;
    }

    & p {
      font-size: 2rem;
      font-weight: 900;
      text-shadow: 3px 3px 2px black;
      color: white;
      font-family: 'Glegoo', serif;
      margin-bottom: 5rem;
    }
  }
}

#mission-section {
  .flex-box {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: stretch;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      flex-wrap: nowrap;
      gap: 1em;
    }
  }
  
  .mission-image {
    position: relative;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }
}

#skills-section {
  .flex-box {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: stretch;
  }
    
  .flex-box > div {
    margin-bottom: 1rem;
    
    @media (min-width: 768px) {
      width: 50%;
    }

    @media (min-width: 992px) {
      width: 25%;
    }
  }
  
  & img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

#contact-section {
  & div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  & a {
    text-decoration: none;
  }
  
  & img {
    width: 100px;
    height: 100px;
  }
}

footer {
  background-color: rgba(44, 44, 44);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-bottom: -2rem;
}